<?xml version="1.0"?>

<model>
	<name>bnest campus</name>
	<version>1.0</version>
	<sdf version="1.5">chair.sdf</sdf>
	<author>
          <name>sai pothan </name>
	  <email>saipothan.janjanam@gmail.com</email>
          <author>sai pothan</author>
	<description>
		BNEST Bhopal Smart city campus
        </description>
</model>
